@import "../../const/mixins";

.member {
  flex: 1 1;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  @include adaptive-value('font-size', 28, 16, 1440);
  cursor: default;

  &:hover {
    & .member__name {
    text-decoration: underline var(--btn-hover-color);
    }
    & .member__surname{
      text-decoration: underline var(--btn-hover-color);
    }
  }
  &__image {
    @include adaptive-value('max-width', 380, 270, 1440);
    border-radius: 20px;
    margin-bottom: 10px;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &__name {
    @include adaptive-value('font-size', 32, 18, 1440);
    text-decoration: underline;
  }

  &__surname {
    @include adaptive-value('font-size', 32, 20, 1440);
    text-decoration: underline;
    margin-bottom: 20px;
  }

  &__text {
    width: 80%;
  }
}
