@import "../../const/mixins";

.team {
  &-container {
    display: flex;
    padding: 0 5%;
    flex-direction: column;
  }
  &__header {
    @include adaptive-value('font-size', 72, 30, 1440);
    @include adaptive-value('padding-top', 85, 30, 1440);
    @include adaptive-value('margin-bottom', 72, 30, 1440);
    color: var(--text-color-light);
    font-weight: 700;
    margin-left: 5%;
    @media screen and (max-width: 750px) {
        text-align: center;
    }
  }

  &__members{
    color: var(--text-color-light);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
}
